.w-100.p-2.f-1.d-flex.flex-column.overflow-hidden
    ul.nav.nav-tabs.nav-fill#tab-list(role="tablist")
        li.nav-item(role="presentation")
            button.nav-link.active#my-calendar-tab( data-bs-toggle="tab" data-bs-target="#my-calendar-pane" type="button" role="tab" aria-controls="my-calendar-pane" aria-selected="true") My calendar
        li.nav-item(role="presentation")
            button.nav-link#team-calendar-tab(data-bs-toggle="tab" data-bs-target="#team-calendar-pane" type="button" role="tab" aria-controls="team-calendar-pane" aria-selected="false") Team calendar
    .tab-content#tab-content
        .tab-pane.fade.show.active#my-calendar-pane(role="tabpanel" aria-labelledby="my-calendar-tab" tabindex="0")
            .tab-wrapper#calendar-wrapper
                #my-calendar.calendar
        .tab-pane.fade#team-calendar-pane(role="tabpanel" aria-labelledby="team-calendar-tab" tabindex="0") 
            .tab-wrapper.overflow-hidden
                #filter-area.pt-2
                    #filter-accordion.accordion 
                        .accordion-item 
                            h2#accordion-header.accordion-header
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#accordion-inner" aria-expanded="true" aria-controls="accordion-inner") Filters 
                            #accordion-inner.accordion-collapse.collapse.show(aria-labelledby="accordion-header" data-bs-parent="#filter-accordion")
                                .accordion-body.d-flex.flex-column.align-items-start
                                    div Show times with...
                                    .input-row.mb-1
                                        span ...at least #[input#person-count(type="number" min="1" max=`${event.users.length}` value="1")] respondent(s) available
                                    .d-flex.flex-row
                                        .d-flex 
                                            .m-auto.text-nowrap ... 
                                        .d-flex
                                            input#user-filter-all(type="radio" value="all" name="user-filter" checked)
                                            label.ms-1.px-2(for="user-filter-all") all
                                            input#user-filter-some(type="radio" value="some" name="user-filter")
                                            label.me-1.px-2(for="user-filter-some") any
                                        .d-flex 
                                            .m-auto.text-nowrap of the selected respondents: 
                                    #person-accordion.accordion.mt-1.w-100
                                        .accordion-item 
                                            h2#person-header.accordion-header 
                                                button#person-button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#person-inner" aria-expanded="true" aria-controls="person-inner") 0 selected
                                            #person-inner.accordion-collapse.collapse.show(aria-labelledby="person-header" data-bs-parent="#person-accordion")
                                                .accordion-body.d-flex.flex-column.align-items-start 
                                                    each user in event.users 
                                                        .d-flex.flex-row 
                                                            input.me-2(id=`person-${user.id}` type="checkbox" value=`${user.name}`)
                                                            label(for=`person-${user.id}`)= user.name
                .w-100.d-flex 
                    #legend-area.m-auto.my-1.d-flex.flex-row.w-75
                        .legend-label= `0/${event.users.length}`
                        #legend-bar.legend.f-1.d-flex.mx-1
                        .legend-label= `${event.users.length}/${event.users.length} available` 
                #team-calendar.calendar.mt-1.overflow-auto