#time-area
    #time-list.d-flex.flex-column.align-items-center
        .d-flex.align-items-center
            span.me-2 Add candidate time: 
            select#event-hour
                - for (var i = 0;i<12;i++)
                    - if (i===9)
                        option(value=`${i}` selected)= `${i}`
                    - else 
                        option(value=`${i === 0 ? "00" : i}`)= `${i===0 ? 12 : i}`
            .d-flex.mx-1
                .m-auto :
            select#event-minute.me-2
                - for (var i = 0;i<60;i+=15)
                    - if (i===0)
                        option(value=`00` selected) 00
                    - else 
                        option(value=`${i}`)= `${i}`
            select#event-am-pm.me-2
                option(value="am") AM 
                option(value="pm") PM
            button#add-time.btn.btn-sm.btn-primary(type="button") Add
        .d-flex.flex-column.align-items-center.w-100
            div Candidate times: 
            #candidate-times.d-flex.flex-column.w-100= "(None)"
    #time-range.d-flex.w-100.justify-content-around
            .input-container.align-items-center(style="border-right:1px solid var(--text-color);")
                .input-label Start time between...
                .d-flex
                    select#event-hour-early
                        - for (var i = 0;i<12;i++)
                            - if (i===9)
                                option(value=`${i}` selected)= `${i}`
                            - else 
                                option(value=`${i}`)= `${i===0 ? 12 : i}`
                    .d-flex.mx-1
                        .m-auto :
                    select#event-minute-early.me-2
                        - for (var i = 0;i<60;i+=15)
                            - if (i===0)
                                option(value=`00` selected) 00
                            - else 
                                option(value=`${i}`)= `${i}`
                    select#event-am-pm-early
                        option(value="am") AM 
                        option(value="pm") PM
            .input-container.align-items-center
                .input-label.d-flex 
                    div ...and
                    div(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="If your time window has an earlier end time than start time, it will be interpreted that the window spans until the next day.") 
                        include ../svg/help
                .d-flex
                    select#event-hour-late
                        - for (var i = 0;i<12;i++)
                            - if (i===5)
                                option(value=`${i}` selected)= `${i}`
                            - else 
                                option(value=`${i}`)= `${i===0 ? 12 : i}`
                    .d-flex.mx-1
                        .m-auto.bold :
                    select#event-minute-late.me-2
                        - for (var i = 0;i<60;i+=15)
                            - if (i===0)
                                option(value=`00` selected) 00
                            - else 
                                option(value=`${i}`)= `${i}`
                    select#event-am-pm-late
                        option(value="am") AM 
                        option(value="pm" selected) PM